@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* :root
{
    --base-color: rgb(0, 83, 138)
      (var(--base-color)) 
} */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #1a1818;
}

body
{
     /*background-color: gainsboro;*/
     background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

ul
{
    list-style: none;
}

main
{
    margin: 1rem;   
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;   
}

@media (max-width: 880px) 
{
    main 
    {
        grid-template-columns: 1fr;    
    }
}

.left
{
    background-image: linear-gradient(120deg,#ace2fc 0%, #7eafff 100% );
    box-shadow: 0.3rem 0.3rem 0.9rem rgb(49, 171, 253);
    border-radius: 10px;
}

.left-image
{
    position: relative;
}

.left-image img
{
    width: 100%;
    border-radius: 11px;
}

.left-image h1
{
    position: absolute;
    bottom: 1rem;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

i
{
    color: rgb(0, 83, 138);
}

.personal, 
.skills,
.languages
{
    padding: 1rem;
    line-height: 2rem;
}

.personal
{
    font-size: 1.1rem;
}

progress
{
    width: 100%;
    height: 1.8rem;
}

.experience, 
.education
{
    padding: 1.5rem;
    background-image: linear-gradient(120deg, #7eafff 0%, #ace2fc 100%);
    box-shadow: 0.3rem 0.3rem 0.9rem rgb(49, 171, 253);
    border-radius: 10px;
}

.education
{
    margin-bottom: 1rem;
}

.job
{
    margin: 1.5rem 0;
}

.job-name
{
    font-size: 1.1rem;
    font-weight: bold;
}

.experience p, 
.education p
{
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-align: justify;
}

.date
{
   color: rgb(238, 234, 234);
}


.date span 
{
    background-color:rgb(70, 178, 250);
    color: rgb(238, 234, 234);
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
}

footer 
{
    background-color: rgb(70, 178, 250);
    padding: 1.5rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
}

footer p
{
    color: white;
}

footer i
{
    color: white;
    margin-top: 0.5rem;
    font-size: 2rem;
}

footer a
{
    text-decoration: none;
}

.progress
{
    display: inline-block;
    width: 100%;
    height: 1rem;
    border-radius: 20px;
    background-color: #d4eefa;
    
}

.bar
{
    border-radius: 20px;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    background-color: rgb(70, 178, 250);
}

